# Python Test automation project dependencies
# Playwright
playwright==1.44.0  

# API Automation
requests==2.32.3  
pytest==8.4.1  
pytest-rerunfailures==13.0


# Report Generation
allure-pytest==2.15.0  
pytest-playwright==0.5.0
# Generate html report
pytest-html==4.1.1

